<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : beans.xml
    Description: Configuration for Jakarta EE CDI (Contexts and Dependency Injection)
                 Defines bean discovery mode for the application
    Author     : Holly Dahlstrom
    Created    : 11-18-2025
-->
<beans xmlns="https://jakarta.ee/xml/ns/jakartaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/beans_4_0.xsd"
       bean-discovery-mode="all">
</beans>